<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058490346092-u526fidmnsbpkmbg20n6m3130rhq261f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058490346092-u526fidmnsbpkmbg20n6m3130rhq261f</string>
	<key>API_KEY</key>
	<string>AIzaSyBgHp2oRA_pFMklTPPiRdWw7mRE5fp7-9M</string>
	<key>GCM_SENDER_ID</key>
	<string>1058490346092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JFT.JobimClone</string>
	<key>PROJECT_ID</key>
	<string>jbmc-b072d</string>
	<key>STORAGE_BUCKET</key>
	<string>jbmc-b072d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058490346092:ios:c47399bfca23f582488649</string>
	<key>DATABASE_URL</key>
	<string>https://jbmc-b072d.firebaseio.com</string>
</dict>
</plist>
